/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input{
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

button {
  padding: .4rem 1rem;
}

input {
  padding: .5rem;
  width: 250px;
  margin-right: .5rem;
}

.container-todo{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem ;
}

.todo-wrap{
  background-color: rgb(148, 255, 219);
  min-width: 300px;
  height: 300px;
  padding: 1rem;
}

.todo-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}


.button-head{
  display: flex;
  gap: .5rem;
}

span, p, li, ol {
  color: black;
}

.todo-body li {
  padding: .4rem;
}

.todo-body li:nth-child(odd) {
  background-color: rgb(220, 255, 132);
}