* {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

body {
    padding: 2rem;
}

.container{
    background-color: pink;
    height: 100vh;
    padding: 1rem;
}

footer {
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
}

h1, h2, h3{
    text-align: center;
}

input, button {
    outline: none;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
    border-radius: .3rem;
}

form {
    margin-bottom: 2rem;
}

input {
    padding: .5rem 1rem;
    background-color: white;
    margin-right: 1rem;
}

button {
    background-color: yellow;
    padding: .5rem 2rem ;
}

li {
    margin-bottom: .4rem;
    cursor: pointer;
}

.edit-btn, .delete-btn {
    background-color: white;
    padding: .2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: .3rem;
    transition: all .3s ease-in-out;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    line-height: 1rem;
}

.edit-btn:hover{
    box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
}
